.root {
    -fx-font-family: "Segoe UI";
}

.content-area {
    -fx-background-color: #1f2937;
    -fx-background-radius: 0 0 4px 0;
    -fx-background-insets: 0;
}

.content-area > * {

    -fx-background-radius: 0 0 4px 0;
    -fx-background-insets: 0;
}

.window-root.maximized .content-area,
.window-root.maximized .content-area > * {

    -fx-background-radius: 0;
    -fx-background-insets: 0;
}