.root {
    -fx-font-family: "Segoe UI";
}

.content-area {
    -fx-background-color: #f4f7fb;
    -fx-background-radius: 0 0 6px 0;
}

.content-area > * {
    -fx-background-radius: 0 0 6px 0;
}

.window-root.maximized .content-area,
.window-root.maximized .content-area > * {
    -fx-background-radius: 0;
}