.sidebar {
    -fx-background-color: #111827;
    -fx-border-color: rgba(255,255,255,0.08);
    -fx-border-width: 0 1 0 0;
}

.brand-box {
    -fx-alignment: center;
    -fx-padding: 4 0 10 0;
}

.brand-logo {
    -fx-min-width: 42px;
    -fx-min-height: 42px;
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to bottom right, #7b61ff, #5b8cff);
    -fx-background-radius: 14px;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.brand-title {
    -fx-text-fill: #dfe7ff;
    -fx-font-size: 11px;
    -fx-font-weight: 700;
    -fx-padding: 4 0 0 0;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-text-fill: #e5e7eb;
    -fx-font-size: 8px;
    -fx-font-weight: 500;
    -fx-alignment: center;
    -fx-content-display: top;
    -fx-graphic-text-gap: 2;
    -fx-padding: 6 0 6 0;
    -fx-cursor: hand;
}

.nav-button:hover {
    -fx-background-color: rgba(255,255,255,0.04);
    -fx-text-fill: white;
}

.nav-button.active {
    -fx-background-color: #1f2937;
    -fx-background-radius: 0;
    -fx-border-color: #7c6cff;
    -fx-border-width: 0 0 0 3;
    -fx-border-radius: 0;
    -fx-text-fill: #8b7cff;
    -fx-effect: none;
}


.footer-user {
    -fx-text-fill: #9ba7c7;
    -fx-font-size: 11px;
    -fx-font-weight: 700;
    -fx-alignment: center;
    -fx-max-width: Infinity;
    -fx-padding: 6 0 0 0;
}