.all-auctions-section {
    -fx-padding: 0 0 10 0;
}

.section-title {
    -fx-text-fill: white;
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-letter-spacing: 1px;
        -fx-padding: 0 0 0 50;
}

.auction-grid {
    -fx-padding: 0 0 0 50;
}

.auction-card {
    -fx-background-color: #152033;
    -fx-border-color: #334155;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.32), 18, 0, 0, 6);
    -fx-pref-width: 240px;
    -fx-min-width: 240px;
    -fx-max-width: 240px;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-cursor: hand;
}


.auction-image-placeholder {
    -fx-pref-height: 150px;
    -fx-max-width: infinity;
    -fx-alignment: center;

    -fx-background-color: #f1f1f1;
    -fx-background-radius: 6 6 0 0;

    -fx-text-fill: #999999;
    -fx-font-size: 6px;
    -fx-font-weight: bold;
}

.auction-starting-price {
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-text-fill: #cbd5e1;
}

.auction-name {
    -fx-font-size: 14px;
    -fx-font-weight: 900;
    -fx-text-fill: #f8fafc;
    -fx-alignment: top-left;
}

.auction-price-title {
    -fx-font-size: 12px;
    -fx-text-fill: #8fa3c1;
}

.auction-price {
    -fx-font-size: 14px;
    -fx-font-weight: 900;
    -fx-text-fill: #38bdf8;
    -fx-padding: -4 0 0 0;
}

.auction-status {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #7cffb2;
    -fx-background-color: #123f35;
    -fx-background-radius: 6;
    -fx-padding: 3 8 3 8;
}

.status-active {
    -fx-background-color: #0f5132;
    -fx-text-fill: #7cffb2;
}

.status-sold {
    -fx-background-color: #5c1f1f;
    -fx-text-fill: #ff8a8a;
}

.status-ended {
    -fx-background-color: #5a4610;
    -fx-text-fill: #ffd86b;
}

.auction-date {
    -fx-font-size: 12px;
    -fx-text-fill: #8fa3c1;
}
